[Unit]
Description=Do It Yourself Home Automation Switch
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/switch/switch.py --mqtt chuck.local --location diy/main/garage --mode message
[Install]
WantedBy=multi-user.target
